<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c1e554998a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>GlobalTecno</title>
</head>

<body class="carro">
    <header class="home__header">
        <nav>
            <div class="burguer">
                <i class="fa-solid fa-bars"></i>
            </div>
               
            <div class="logo">
                <a href="/"><img src="/images/LOGO-GT-trasparente.png" alt=""></a>
                <h1>GlobalTecno</h1>
            </div>
    
            <div class="buscador">
                <input type="text" placeholder="Buscar productos,marcas" required>
                <button class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
                
            <div class="login">
                <button class="home__login"><a  href="/users/login">ingresa</a></button>
                <button class="home__register"><a href="/users/register">Registrate</a></button>
            </div>
    
            <div class="iconos">
                <i class="fa-solid fa-user"></i>
                <a href="/productCarri"><i class="fa-solid fa-cart-shopping"></i></a>

                <i class="signo__peso"><i class="fa-solid fa-dollar-sign"></i></i>
            </div>
            <div class="moneda">
                <input type="checkbox" name="peso" id="peso">
                <label for="peso">peso</label>
                <input type="checkbox" name="dolar" id="dolar">
                <label for="dolar">dolar</label>
            </div>       
        </nav>
        <nav>
            <div class="home__barra__menu">
                <ul>
                    <li><a href=""></a>Telefonia</li>
                    <li><a href=""></a>Electronica</li>
                    <li><a href=""></a>Accesorio</li>
                    <li><a href=""></a>Ayuda</li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="main_carrito">
        <div class="box__productos_carrito">
            <div class="carrito_producto1">
                <h1 class="titulo_carrito">TU CARRITO</h1>
            </div>
            <div class=producto1__carrito>
                <div class="producto1_img">
                    <img src="/images/productos/P2/1.jpg" alt="">
                </div>

                <div class="producto1_detalles">
                    <div class="Titulo_producto1">
                        <h2> Bolígrafo Universal para Teléfonos Inteligentes </h2>
                    </div>
                    <div class="valor_producto1">
                        <h2>ARS $650,35</h2>
                    </div>

                    <div class="estrellas_producto1">
                        <h3>⭐</h3>
                        <h3>⭐</h3>
                        <h3>⭐</h3>
                        <h3>⭐</h3>
                        <h3>⭐</h3>
                    </div>
                    <div class="botones-cantidad_producto1__carrito">
                        <a class="boton_carrito_menos_p1"> – </a>
                        <a class="boton_carrito_cantidad_p1"> cantidad </a>
                        <a class="boton_carrito_mas_p1"> + </a>
                    </div>
                </div>
            </div>
                <div class=producto2__carrito>
                    <div class="producto2_img">
                        <img src="/images/productos/P1/1.jpg" alt="">
                    </div>
                    <div class="producto2_detalles">
                        <div class="Titulo_producto2">
                            <h2> Papel como película protectora de pantalla </h2>
                        </div>
                        <div class="valor_producto2">
                            <h2>ARS $185,01</h2>
                        </div>
                        <div class="estrellas_producto2">
                            <h3>⭐</h3>
                            <h3>⭐</h3>
                            <h3>⭐</h3>
                            <h3>⭐</h3>
                            <h3>⭐</h3>
                        </div>
                        <div class="botones-cantidad_producto2__carrito">
                            <a class="boton_carrito_menos_p2"> – </a>
                            <a class="boton_carrito_cantidad_p2"> cantidad </a>
                            <a class="boton_carrito_mas_p2"> + </a>
                        </div>
                    </div>
                </div>
                <div class=producto3__carrito>
                    <div class="producto3_img">
                        <img src="/images/productos/P3/1.jpg" alt="">
                    </div>
                    <div class="producto3_detalles">
                        <div class="Titulo_producto3">
                            <h2> Teléfono Inteligente S21 + Ultra </h2>
                        </div>
                        <div class="valor_producto3">
                            <h2>ARS $9.322,48</h2>
                        </div>
                        <div class="estrellas_producto3">
                            <h3>⭐</h3>
                            <h3>⭐</h3>
                            <h3>⭐</h3>
                            <h3>⭐</h3>
                            <h3>⭐</h3>
                        </div>
                        <div class="botones-cantidad_producto3__carrito">
                            <a class="boton_carrito_menos_p3"> – </a>
                            <a class="boton_carrito_cantidad_p3"> cantidad </a>
                            <a class="boton_carrito_mas_p3"> + </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box__precios_carrito">
                <div class="pecios_carrito">
                    <h3>Productos: $10.157,84</h3>
                    <h3>Impuestos: $3.555,25</h3>
                    <h3>Envio:     $2.991</h3>
                </div>
                <div class="precio-total_carrito">
                    <h2>TOTAL:</h2>
                    <h3>$16.704,09</h3>
                </div>
                <div class="boton-comprar_carrito">
                    <a href=""><h1>COMPRAR</h1></a>
                </div>
                <div class="boton-cupon_carrito">
                    <a href=""><h4>Agregar cupón de descuento +</h4></a>
                </div>

            </div>
        </main>
        
        <footer class="home__footer">
            <div class="footer__1">
                <section class="footer__marcas">
    
                    <h5>Marcas</h5>
        
                    <ul>
                        <li><a href=""></a>Samsung</li>
                        <li><a href=""></a>Xiaomi</li>
                        <li><a href=""></a>Impresoras 3D</li>
                        <li><a href=""></a>Paper Like</li>
                        <li><a href=""></a>Echo</li>
                        <li><a href=""></a>!Robot</li>
        
                    </ul>
                </section>
                <section class="footer__buscados">
                    <h5>Los más buscados</h5>
                    <ul>
                        <li><a href=""></a>Celulares</li>
                        <li><a href=""></a>Reloj inteligente</li>
                        <li><a href=""></a>Hogar</li>
                        <li><a href=""></a>Impresoras</li>
                        <li><a href=""></a>Protectores</li>
                    </ul>
                </section>
                
            </div>
            <div class="footer__2">
                <section class="footer__nosotros">
                    <h5>Sobre Nosotros</h5>
                    <p>Global Tecno es una tienda que ofrece Teléfonos celulares, entre otras cosas, de marcas reconocidas,
                        tenemos en cuenta el rendimiento, la calidad y siempre buscando el mejor precio, con la opcion de
                        cambiar a la moneda que mejor se acomoda al comprador. Además cada producto es importado y lo enviamos
                        hasta la puerta de tu casa sin cargo adicional.</p>
                </section>
    
            </div>
    
    
    
            <section class="footer__redes">
                <h5>Contactanos</h5>
                <div>
                    <a href=""><img src="/images/icons/icons8-facebook-48.png" alt=""></a>
                    <a href=""><img src="/images/icons/icons8-instagram-48.png" alt=""></a>
                    <a href=""><img src="/images/icons/icons8-whatsapp-48.png" alt=""></a>
                    <a class="footer__telefono" href=""><img src="/images/icons/icons8-teléfono-64.png" alt=""></a>
                </div>
               
    
            </section>
        </footer>
    </body>
</html>
  