<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c1e554998a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Registro</title>
</head>

<body class="home_body">
    <header class="home__header">
        <nav>
            <div class="burguer">
                <i class="fa-solid fa-bars"></i>
            </div>
           
            <div class="logo">
                <a href="/"><img src="/images/LOGO-GT-trasparente.png" alt=""></a>
                <h1>GlobalTecno</h1>
            </div>

            <div class="buscador">
                <input type="text" placeholder="Buscar productos,marcas" required>
                <button class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            
            <div class="login">
                <button class="home__login"><a  href="/Login">ingresa</a></button>
                <button class="home__register"><a href="/register">Registrate</a></button>
            </div>

            <div class="iconos">
                <i class="fa-solid fa-user"></i>
                <a href="/productCarri"><i class="fa-solid fa-cart-shopping"></i></a>

                <i class="signo__peso"><i class="fa-solid fa-dollar-sign"></i></i>
            </div>

            

            <div class="moneda">

                <input type="checkbox" name="peso" id="peso">
                <label for="peso">peso</label>
                <input type="checkbox" name="dolar" id="dolar">
                <label for="dolar">dolar</label>

            </div>
           
        </nav>
        <nav>
            <div class="home__barra__menu">
                <ul>
                    <li><a href=""></a>Telefonia</li>
                    <li><a href=""></a>Electronica</li>
                    <li><a href=""></a>Accesorio</li>
                    <li><a href=""></a>Ayuda</li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="contenedor">
            <h1 class="titulo">Registrate</h1>
            <div class="boton-link">
                <button id="botonf" type="button" onclick="location.href='https://www.facebook.com'">Entrar con Facebook</button>
            </div>   
                <div class="boton-link">
                    <button id="botong" type="button" onclick="location.href='https://www.Google.com'">Continuar con Google</button>
                </div>
            <span id="register-texto1">O registrate con tu E-mail</span>
        <form action="">
               <div class="register__form-box">
               <input class="register__form-input" type="text" name="nombre" placeholder="Nombre">
                </div>
                <div class="register__form-box">
                    <input class="register__form-input" type="text" name="apellido" placeholder="Apellido">
                </div>
                <div class="register__form-box">
                    <input class="register__form-input" type="email" name="email" placeholder="E-mail">
                </div>
                <div class="register__form-box">
                    <input class="register__form-input" type="password" name="password" placeholder="Contraseña">
                </div>
                <span id="register-texto2">(?)La contraseña debe tener al menos 6 caracteres</span>

            <div class="boton-link">
                <button id="botonr" type="submit" title="registrate" name="registrate">Registrate</button>
            </div>  
                <span id="register-texto3">¿Ya tenes cuenta?Inicia sesion <a href="/login">aca</a> </span>
  </form>
        </section>



    </main>

    <footer class="home__footer">
        <div class="footer__1">
            <section class="footer__marcas">

                <h5>Marcas</h5>
    
                <ul>
                    <li><a href=""></a>Samsung</li>
                    <li><a href=""></a>Xiaomi</li>
                    <li><a href=""></a>Impresoras 3D</li>
                    <li><a href=""></a>Paper Like</li>
                    <li><a href=""></a>Echo</li>
                    <li><a href=""></a>!Robot</li>
    
                </ul>
            </section>
            <section class="footer__buscados">
                <h5>Los más buscados</h5>
                <ul>
                    <li><a href=""></a>Celulares</li>
                    <li><a href=""></a>Reloj inteligente</li>
                    <li><a href=""></a>Hogar</li>
                    <li><a href=""></a>Impresoras</li>
                    <li><a href=""></a>Protectores</li>
                </ul>
            </section>
            
        </div>
        <div class="footer__2">
            <section class="footer__nosotros">
                <h5>Sobre Nosotros</h5>
                <p>Global Tecno es una tienda que ofrece Teléfonos celulares, entre otras cosas, de marcas reconocidas,
                    tenemos en cuenta el rendimiento, la calidad y siempre buscando el mejor precio, con la opcion de
                    cambiar a la moneda que mejor se acomoda al comprador. Además cada producto es importado y lo enviamos
                    hasta la puerta de tu casa sin cargo adicional.</p>
            </section>

        </div>



        <section class="footer__redes">
            <h5>Contactanos</h5>
            <div>
                <a href=""><img src="/images/icons/icons8-facebook-48.png" alt=""></a>
                <a href=""><img src="/images/icons/icons8-instagram-48.png" alt=""></a>
                <a href=""><img src="/images/icons/icons8-whatsapp-48.png" alt=""></a>
                <a class="footer__telefono" href=""><img src="/images/icons/icons8-teléfono-64.png" alt=""></a>
            </div>
           

        </section>
    </footer>

</body>

</html>