<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c1e554998a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <i class="fa-solid fa-bars"></i>
            <div class="logo">
                <a href="/"><img src="/images/logo_GT1.jpg" alt=""></a>
            </div>
            
            <div class="buscador">
                <input type="text" placeholder="Buscar productos,marcas" required>
               <button class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button> 
            </div>
    
            <div class="iconos">
                <i class="fa-solid fa-user"></i>
                <a href="/productCarri"><i class="fa-solid fa-cart-shopping"></i></a>
                
                <i class="signo__peso"><i class="fa-solid fa-dollar-sign"></i>
            </div>
    
            <div class="login">
                <a href="/Login">ingresa</a>
                <a href="/register">Registrate</a>
            </div>
                
                <div class="moneda">
                    
                    <input type="checkbox" name="peso" id="peso">
                    <label for="peso">peso</label>
                    <input type="checkbox" name="dolar" id="dolar">
                    <label for="dolar">dolar</label>
                    
                </div>
      </nav>
    </header>
    <main>
        <div class="carrusel">

        </div>
        <section>
            <article>
                <h2>ofertas</h2>
                <article>
                    
                </article>
            </article>
            <article>
                <h2>destacados</h2>
                <article>

                </article>
            </article>
        </section>
    
    </main>
   
</body>

</html>