<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/c1e554998a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    
</head>
<body>
<main>
</main>
</body>
<footer class="home__footer">
        <div class="footer__1">
            <section class="footer__marcas">

                <h5>Marcas</h5>
    
                <ul>
                    <li><a href=""></a>Samsung</li>
                    <li><a href=""></a>Xiaomi</li>
                    <li><a href=""></a>Impresoras 3D</li>
                    <li><a href=""></a>Paper Like</li>
                    <li><a href=""></a>Echo</li>
                    <li><a href=""></a>!Robot</li>
    
                </ul>
            </section>
            <section class="footer__buscados">
                <h5>Los más buscados</h5>
                <ul>
                    <li><a href=""></a>Celulares</li>
                    <li><a href=""></a>Reloj inteligente</li>
                    <li><a href=""></a>Hogar</li>
                    <li><a href=""></a>Impresoras</li>
                    <li><a href=""></a>Protectores</li>
                </ul>
            </section>
            
        </div>
        <div class="footer__2">
            <section class="footer__nosotros">
                <h5>Sobre Nosotros</h5>
                <p>Global Tecno es una tienda que ofrece Teléfonos celulares, entre otras cosas, de marcas reconocidas,
                    tenemos en cuenta el rendimiento, la calidad y siempre buscando el mejor precio, con la opcion de
                    cambiar a la moneda que mejor se acomoda al comprador. Además cada producto es importado y lo enviamos
                    hasta la puerta de tu casa sin cargo adicional.</p>
            </section>

        </div>



        <section class="footer__redes">
            <h5>Contactanos</h5>
            <div>
                <a href=""><img src="/images/icons/icons8-facebook-48.png" alt=""></a>
                <a href=""><img src="/images/icons/icons8-instagram-48.png" alt=""></a>
                <a href=""><img src="/images/icons/icons8-whatsapp-48.png" alt=""></a>
                <a class="footer__telefono" href=""><img src="/images/icons/icons8-teléfono-64.png" alt=""></a>
            </div>
           </section>
    </footer>
    
</body>
</html>