<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Document</title>
</head>

<body class="detal">
    <header class="home__header">
        <nav>
            <div class="burguer">
                <i class="fa-solid fa-bars"></i>
            </div>
           
            <div class="logo">
                <a href="/"><img src="/images/LOGO-GT-trasparente.png" alt=""></a>
                <h1>GlobalTecno</h1>
            </div>

            <div class="buscador">
                <input type="text" placeholder="Buscar productos,marcas" required>
                <button class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            
            <div class="login">
                <button class="home__login"><a  href="/Login">ingresa</a></button>
                <button class="home__register"><a href="/register">Registrate</a></button>
            </div>

            <div class="iconos">
                <i class="fa-solid fa-user"></i>
                <a href="/productCarri"><i class="fa-solid fa-cart-shopping"></i></a>

                <i class="signo__peso"><i class="fa-solid fa-dollar-sign"></i></i>
            </div>

            

            <div class="moneda">

                <input type="checkbox" name="peso" id="peso">
                <label for="peso">peso</label>
                <input type="checkbox" name="dolar" id="dolar">
                <label for="dolar">dolar</label>

            </div>
           
        </nav>
        <nav>
            <div class="home__barra__menu">
                <ul>
                    <li><a href=""></a>Telefonia</li>
                    <li><a href=""></a>Electronica</li>
                    <li><a href=""></a>Accesorio</li>
                    <li><a href=""></a>Ayuda</li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="detail_box">
            <div class="box_img_p1">
                <div class="box_img_mini_p1">
                    <img src="/images/productos/P1/4.jpg" alt="">
                    <img src="/images/productos/P1/3.jpg" alt="">
                    <img src="/images/productos/P1/2.jpg" alt="">
                </div>
                <div class="img-principal_p1">
                    <img src="/images/productos/P1/1.jpg" alt="">
                </div>
            </div>
        <div class="box-content-p1">
            <h3>Papel como película protectora de pantalla, pintura mate PET para iPad 2018 9,7 </h3>
            <h2>ARS $185,01</h2>

            <button class="Detail_mediosDePago"><a  href="/Medios-de-Pago">Ver Medios de Pago</a></button>
                
            <h3>Envio</h3>
            <p>Envío rápido de China a Argentina con Cainiao Super Economy Global 
                Fecha estimada de entrega: 7-66 días </p>
            <div class="Stock-P1">
                <h3>STOCK DISPONIBLE:</h3>
                <h3>1000U</h3>
                </div>
        </div>
            <div class="detal-cantidad_p1">
                <div class="cantidad_de_p1">
                    <button><a href="">-</a></button>
                    <button><a href="">cantidad</a></button>
                    <button><a href="">+</a></button>
                </div>
                <div class="detal-compra_p1">
                    <button><a href="">agregar cupón de descuento +</a></button>
                    <button><a href="">COMPRAR</a></button>
                    <BUtton><a href="/views/productCarri.html">agregar al carrito +</a></BUtton>
                <section class="estrellas_p1">
                <h1>opiniones</h1>
                <div class="PrimeraFila_p1">
                    <h1>TOTAL:⭐</h1>
                    <h1>⭐</h1>
                    <h1>⭐</h1>
                    <h1>⭐</h1>
                    <h1>⭐</h1>
                </div>

                <h4>diegorugbybat</h4>
                <div class="estrellas_diegorugbybat_p1">
                    <h3>⭐</h3>
                    <h3>⭐</h3>
                    <h3>⭐</h3>
                    <h3>⭐</h3>
                    <h3>⭐</h3>
                </div>
                <h4>potatochiP233</h4>
                <div class="estrellas_potatochiP233_p1">
                    <h3>⭐</h3>
                    <h3>⭐</h3>
                    <h3>⭐</h3>
                    <h3>⭐</h3>
                    <h3>⭐</h3>
                </div>
                <h4 class="estefania_vs">estefania_vs</h4>
                <div class="estrellas_estefania_vs_p1">
                    <h3>⭐</h3>
                    <h3>⭐</h3>
                    <h3>⭐</h3>
                    <h3>⭐</h3>
                    <h3>⭐</h3>
                </div>
                <section class="descripcion_p1">
                    <P>
                        <nav class="Detalles_P1">
                        <h2>descripcion</h2>
    
                        <h5>Número De Producto</h5>
                        <h6>6895273</h6>
    
                        <h5>Características Del Producto</h5>
                        <div class="detalles_lista_p1">
                            <p>◉ Proporcione la sensación de escribir en papel, lo cual es imprescindible para aquellos a quienes les gusta escribir en papel, llevando la creación a un nivel superior.</p>
                            <p>◉ Recubrimiento superior que aumenta considerablemente la suavidad.</p>
                            <p>◉ Adecuado para ti que escribes notas, diseño gráfico y dibujo.</p>
                            <p>◉ La versión completa está totalmente protegida, la apertura es precisa y no está sesgada.</p>
                            <p>◉ Se combina perfectamente con el 99% de las fundas protectoras del mercado sin deformaciones.</p>
                            <p>◉ Utilizando material similar al papel fabricado por un gran fabricante japonés, el mismo que la fábrica de materia prima designada por ELECOM.</p>
                            <p>◉ Usando pegamento importado, laminación rápida, diseño mate, antideslumbrante.</p>
                            <p>◉ Viene con un grupo de limpieza, puedes aplicar fácilmente la película tú mismo.</p>
                        </div>
                    </nav>
                    </P>
                </section class=>
                    
    
        <div>
        </div>                              
        </main>












    <footer class="home__footer">
        <div class="footer__1">
            <section class="footer__marcas">

                <h5>Marcas</h5>
    
                <ul>
                    <li><a href=""></a>Samsung</li>
                    <li><a href=""></a>Xiaomi</li>
                    <li><a href=""></a>Impresoras 3D</li>
                    <li><a href=""></a>Paper Like</li>
                    <li><a href=""></a>Echo</li>
                    <li><a href=""></a>!Robot</li>
    
                </ul>
            </section>
            <section class="footer__buscados">
                <h5>Los más buscados</h5>
                <ul>
                    <li><a href=""></a>Celulares</li>
                    <li><a href=""></a>Reloj inteligente</li>
                    <li><a href=""></a>Hogar</li>
                    <li><a href=""></a>Impresoras</li>
                    <li><a href=""></a>Protectores</li>
                </ul>
            </section>
            
        </div>
        <div class="footer__2">
            <section class="footer__nosotros">
                <h5>Sobre Nosotros</h5>
                <p>Global Tecno es una tienda que ofrece Teléfonos celulares, entre otras cosas, de marcas reconocidas,
                    tenemos en cuenta el rendimiento, la calidad y siempre buscando el mejor precio, con la opcion de
                    cambiar a la moneda que mejor se acomoda al comprador. Además cada producto es importado y lo enviamos
                    hasta la puerta de tu casa sin cargo adicional.</p>
            </section>

        </div>



        <section class="footer__redes">
            <h5>Contactanos</h5>
            <div>
                <a href=""><img src="/images/icons/icons8-facebook-48.png" alt=""></a>
                <a href=""><img src="/images/icons/icons8-instagram-48.png" alt=""></a>
                <a href=""><img src="/images/icons/icons8-whatsapp-48.png" alt=""></a>
                <a class="footer__telefono" href=""><img src="/images/icons/icons8-teléfono-64.png" alt=""></a>
            </div>
           

        </section>
    </footer>
</body>
</html>