/* header */
.home_body {
  
    margin: auto;
    background-color: var(--colorMain);

}

.home__header nav {
    align-items: center;
    background-color: var(--colorHeader);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

}

nav div.burguer {
    font-size: 30px;
    width: 5%;
}

nav div.burguer i {

    font-size: 27px;
}

div.logo {
    width: 10%;
    
}

div.logo img {

    width: 45px;
    color: var(--colorHeader);
}

div.buscador {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
}

div.buscador input {
   
    width: 80%;
    padding: 7px 4px;
    border-radius: 10px 0 0 10px;
    background-color: var(--colorVerdeClaro);
    border: none;

}

div.buscador button.lupa {
    width: 17%;
    padding: 7px;
    border-radius: 0 10px 10px 0;
    background-color: var(--colorVerdeClaro);
    border: none;
}

div.iconos {
    width: 30%;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
    align-items: center;
}

.iconos a i {
    font-size: 23px;
}

i.fa-user,
.iconos a,
i.signo__peso {
    border-radius: 50%;
    background-color: var(--colorVerdeClaro);
    color: black;
    padding: 10px;
    margin-left: 4px;
    width: 36px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

header div.moneda,
div.login,
div.home__barra__menu {
    display: none;
}

.home__main p.home__descripcion,
p.home__precio__dolar,
div.logo h1 {
    display: none;

}



/* main */

.home__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--colorMain);
}

div.carrusel img {
    display: none;


}
.home__main{
    border-left:1px solid black;
    border-right:1px solid black;
}
.home__main section {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    flex-direction: row;
    justify-content: space-evenly;
}

.home__imagen__producto img {
    margin: 0%;
    width: 100%;
    padding: 5%;
    border-radius: 30px;


}

.home__main h2,
.home__main h4 {
    text-transform: uppercase;
    margin: 10px;
    width: 100%;
    word-wrap: break-word;
}

.home__main article {

    width: 90%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
}

.home__main article .home__imagen__producto {
    width: 100%;
}

.home__main article .home__imagen__producto a {
    width: 100%;
}


.home__main p {
    margin: 10px;

}

div.home__productos {
    display: flex;
    flex-direction: column;
    width: 100%;


}


/* footer */

.home__footer {

    background-image: url('/images/footer1.jpg');
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.home__footer h5 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
}

footer section {

    background-color: var(--colorVerdeClaro);
    padding: 10px;
    border-radius: 5px;

}

footer .footer__1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}


footer .footer__2 {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;

}

footer .footer__1 section {
    width: 42%;
}

footer .footer__redes {
    width: 90%;
}

footer .footer__redes div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

footer .footer__redes a {
    width: 50px;

}

footer .footer__redes a img {
    width: 100%;


}

footer a.footer__telefono img {
    width: 100%;
    padding: 4px;


}


@media(min-width: 768px) {

    nav div.burguer {
        display: none;
    }
    

    .home__header {
        align-items: baseline;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    div.logo {
        width: 20%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    div.logo a {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    div.logo img {
        margin: 0;
        width: 41%;
        display: flex;
        flex-direction: row;
        padding: 0;
        margin-left: 16%;
        height: 95%;
    }

    nav div.logo h1 {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family:Righteous;
        font-weight: 300;
        font-size: 20px;
    }
    h1{
        animation: titulo linear 5000ms infinite;
    }

   

    div.buscador {
        width: 35%;
       
    }

    div.buscador input {
        width: 80%;
    }

    div.buscador .lupa {
        
        width: 17%;
       
    }

    div.iconos {
        width: 15%;

    }

    i.fa-user {
        display: none;
    }

    div.login {
        display: flex;
        width: 30%;
        justify-content: space-evenly;
    }

    div.login button.home__login{
        box-shadow: 2px -3px rgba(75, 223, 223, 0.5);
        width: 35%;
        background-color: var(--colorVerdeClaro);
        border-radius: 10px;
    }
    div.login button.home__register{
        box-shadow: 2px -3px rgba(75, 223, 223, 0.5);
        width: 45%;
        background-color: var(--colorVerdeClaro);
        border-radius: 10px;
    }
    div.login button.home__login a{
       font-size: 20px;
       color: black;
    }
    div.login button.home__register a{
        font-size: 20px;
        color: black;
    }
    
    i.signo__peso {
        width: 36px;
        height: 36px;

    }

    nav div.home__barra__menu {
        width: 100%;
        background-color: black;
        padding: 10px;
        color: white;
        display: flex;
        flex-direction: row;

    }

    div.home__barra__menu ul {
        align-items: center;
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;
        width: 100%;
    }

    @keyframes titulo {
        0% {
            text-shadow:
              4px -4px 0 rgb(9, 180, 86), 
              3px -3px 0 rgb(9, 180, 86), 
              2px -2px 0 rgb(9, 180, 86), 
              1px -1px 0 rgb(9, 180, 86),
              -4px 4px 0 hsla(180, 100%, 50%, 1), 
              -3px 3px 0 hsla(180, 100%, 50%, 1), 
              -2px 2px 0 hsla(180, 100%, 50%, 1), 
              -1px 1px 0 hsla(180, 100%, 50%, 1)
            ;
          }
          25% {    
            text-shadow:      
              -4px -4px 0 hsla(180, 100%, 50%, 1), 
              -3px -3px 0 hsla(180, 100%, 50%, 1), 
              -2px -2px 0 hsla(180, 100%, 50%, 1), 
              -1px -1px 0 hsla(180, 100%, 50%, 1),
              4px 4px 0 rgb(9, 180, 86), 
              3px 3px 0 rgb(9, 180, 86), 
              2px 2px 0 rgb(9, 180, 86), 
              1px 1px 0 rgb(9, 180, 86)      
            ;
          }
          50% {
            text-shadow:
              -4px 4px 0 rgb(9, 180, 86), 
              -3px 3px 0 rgb(9, 180, 86), 
              -2px 2px 0 rgb(9, 180, 86), 
              -1px 1px 0 rgb(9, 180, 86),
              4px -4px 0 hsla(180, 100%, 50%, 1), 
              3px -3px 0 hsla(180, 100%, 50%, 1), 
              2px -2px 0 hsla(180, 100%, 50%, 1), 
              1px -1px 0 hsla(180, 100%, 50%, 1)
            ;
          }
          75% {
            text-shadow:
              4px 4px 0 hsla(180, 100%, 50%, 1), 
              3px 3px 0 hsla(180, 100%, 50%, 1), 
              2px 2px 0 hsla(180, 100%, 50%, 1), 
              1px 1px 0 hsla(180, 100%, 50%, 1),
              -4px -4px 0 rgb(9, 180, 86), 
              -3px -3px 0 rgb(9, 180, 86), 
              -2px -2px 0 rgb(9, 180, 86), 
              -1px -1px 0 rgb(9, 180, 86)      
            ;
          }
          100% {
            text-shadow:
              4px -4px 0 rgb(9, 180, 86), 
              3px -3px 0 rgb(9, 180, 86), 
              2px -2px 0 rgb(9, 180, 86), 
              1px -1px 0 rgb(9, 180, 86),
              -4px 4px 0 hsla(180, 100%, 50%, 1), 
              -3px 3px 0 hsla(180, 100%, 50%, 1), 
              -2px 2px 0 hsla(180, 100%, 50%, 1), 
              -1px 1px 0 hsla(180, 100%, 50%, 1)
            ;
          }  
    }

    /* main */

    div.carrusel img {
        display: inline-block;
        margin: 0;
        width: 100%;
    }

    .home__main article {
        align-items: baseline;
        width: 30%;
        box-shadow: 4px -5px rgba(9, 37, 37, 0.5);
        
    }
   


    /* footer */
    .home__footer {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-between;


    }

    footer .footer__1 {
        grid-column: 2 / 4;
        justify-content: space-around;

    }

    footer .footer__2 {
        grid-column: 1 / 4;
        justify-content: center;
        margin-left: 2%;
        width: 96%;

    }

    .footer__redes {
        grid-row: 1 / 2;
        margin-left: 20px;
        height: 100%;


    }

    footer .footer__redes div {
        width: 100%;
        display: flex;
        margin-top: 25px;
        justify-content: space-evenly;
    }
}

    @media(min-width: 1024px) {
    .home_body{
        max-width: 1440px;
    }
    div.login button.home__login:hover{
        box-shadow: 3px -4px rgba(75, 223, 223, 0.5);
        transform: scale(1.1);
    }
    div.login button.home__register:hover{
        box-shadow: 3px -4px rgba(75, 223, 223, 0.5);
        transform: scale(1.1);
    }
   
    li.home__menu:hover{
        transform: scale(1);
        text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(248, 248, 247), 0 0 0.2em rgb(255, 255, 255);
    }

    /* main */

    .home__main{
        margin-bottom: 40px;
    }
    .home__main article {
        width: 23%;
        justify-content: space-evenly;
    }
   div.home__productos{
       flex-wrap: wrap;
       flex-direction: row;
       align-items: flex-start;
   }

   article.home__article__producto:hover{
    transform: scale(1.1);
   }


    

        /*footer */
    footer .home__footer {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-between;


    }

    footer .footer__2 {
        display: grid;
        grid-column: row;
        grid-area: 1 / 4;
        height: 100%;


    }

}

