  
 main{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--colorMain);
    border-left:1px solid black;
    border-right:1px solid black; 
    font-family:"josefinSans" ;
    src: url("/font/JosefinSans-VariableFont_wght.ttf") format("truetype");
    font-style: 'normal';
    font-weight: 400;
}

.contenedor{
background-color: #e3e3e3 ;
    width: 90%;
    margin: auto;
    margin-top:0;
    border-radius: 12px;
    padding:10px;
    text-align: center;
} 

.titulo{
 padding: 10px;
text-transform: uppercase;
text-align: center;
}

.register__form-box{
margin-bottom: 15px;
}

.register__form-input{
width: 40%;
padding: 5px;
background-color: var(--colorVerdeClaro);
border: none;
border-radius: 2px;
font-size:115%;
}

    button{
        text-align: center;
    background-color: var(--colorVerdeClaro);
    width: 40%;
    border-radius: 3px;
    font-size:115%;
    }


#botonf{
    text-align: center;
    color: antiquewhite;
    background-color: blue;
    margin-bottom: 5px;
    }

#botong{
    text-align:center;
}

#botonr{
    background-color: var(--colorHeader);
    color: black;
    border-radius: 2px;
    font-size:115%;
}

.register-texto{
text-align: center;
font-size: 0.8rem;
margin:5px;
}
