
/* header */

.detal_html{
    margin-right: -30px auto
}


.home__header nav {
    align-items: center;
    background-color: var(--colorHeader);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;

}

nav div.burguer {
    font-size: 30px;
    width: 5%;
}

nav div.burguer i {

    font-size: 27px;
}

div.logo {
    width: 10%;
    
}

div.logo img {

    width: 45px;
    color: var(--colorHeader);
}

div.buscador {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
}

div.buscador input {
   
    width: 80%;
    padding: 7px 4px;
    border-radius: 10px 0 0 10px;
    background-color: var(--colorVerdeClaro);
    border: none;

}

div.buscador button.lupa {
    width: 17%;
    padding: 7px;
    border-radius: 0 10px 10px 0;
    background-color: var(--colorVerdeClaro);
    border: none;
}

div.iconos {
    width: 30%;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
    align-items: center;
}

.iconos a i {
    font-size: 23px;
}

i.fa-user,
.iconos a,
i.signo__peso {
    border-radius: 50%;
    background-color: var(--colorVerdeClaro);
    color: black;
    padding: 10px;
    margin-left: 4px;
    width: 36px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

header div.moneda,
div.login,
div.home__barra__menu {
    display: none;
}

.home__main p.home__descripcion,
p.home__precio__dolar,
div.logo h1 {
    display: none;

}

/* main */

body.detal{
    background-color:  #A2D7D2;;
}

.detail_box {
    background-color: #E5E5E5;
    width: 90%;
    margin: 30px auto 0;
    margin-bottom: 5%;
    box-shadow: 2px 2px 2px  #C6F2EE;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.box_img_p1 img{
    width: 100%;
    margin-left: 5%;
}

.box_img_mini_p1 img{
    width: 30%;

}

.detail_box .box_img_p1 {
    width: 90%;

}
.detail_box .box_img_mini_p1 {
   display: flex;
   justify-content: space-between;
}

.detail_box .img-principal_p1 {
    margin: 10px 0;
}


.detail_box .box-content-p1{
    width: 90%;
    margin: 2%;
}
.box_precio-content-p1{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
.envio_precio-content-p1{
    margin-top: 10%;
}

.Stock-P1{
    display:flex;
    flex-direction:column ;
    width: 90%;
    margin: 2%;
    text-align: start;
}

.detal-compra_p1 {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    justify-content: space-between;
}

.detal_todos-botones_p1{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    text-align:center;
}

.detal_cantidad_de_p1{
    display: flex;
}
.cantidad_p1_menos,
.cantidad_p1_cantidad,
.cantidad_p1_mas{
    background-color: #A2D7D2;
    border-radius: 30px;
    text-align: center;
    padding: 5%;
    margin-right: 1%;
}
.detal-comprar_p1{
    margin-top: 10%;
    font-size: 200%;
    margin: 5%;
    align-items: center;
    width: 80%;
    background-color: #A2D7D2;
    border-radius: 30px;
    text-align: center;
    padding: 5%;
    margin-right: 1%;
}
.detal-carrito_p1{
    margin-top: 5%;
    width: 60%;
    background-color: #c4c4c4;
    border-radius: 10px;
    text-align: center;
    padding: 2%;
    margin-right: 1%;
}

.estrellas_p1 {
    width: 90%;
    margin: 2%;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}
  
.PrimeraFila_p1{
    display: flex;
  }
  
 .diegorugbybat{
    padding-top: 2%;
  }
  .estrellas_diegorugbybat_p1{
    display: flex;
  }
  
  .potatochiP233{
  padding-top: 2%;
  }
  .estrellas_potatochiP233_p1{
    display: flex;
  }
  
  .estefania_vs_p1{
    padding-top: 2%;
    }
  .estrellas_estefania_vs_p1{
    display: flex;
  }
  .descripcion_p1{
    width: 90%;
    margin: 2%;  
    margin-top: 10%;
    font-size: large;
  }

  .Detalles-numeroDeProducto_P1{
    margin-top: 5%;
  }
  .Detalles-caracteristicas_P1{
    margin-top: 10%;
  }
  .detalles_lista_p1{
    margin-top: 5%;
  }

@media (min-width:425px){
    .box_precio-content-p1{
        font-size: larger;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width:768px){

    body.detail_box{
        justify-content: center;
    }

    
    .detail_box .box_img_mini_p1 {
       flex-direction: column; 
       padding: 10px;
     }

     .box_img_mini_p1 img {
         width: 40%;
         margin: 5px 1px;
     } 

     .img-principal_p1 img{
        width: 125%;
        margin-right: 50%;
    }
    
    .detail_box .box_img_p1{
        display: flex;
        width: 100%;
    }
     .detail_box .img-principal_p1{
         display: flex;
         align-items: center;
         justify-content: center;
     }
     .detal_todos-soloBotones_p1{

         display: flex;
         justify-content: space-evenly;
     }
     .detal_cantidad_de_p1{
         font-size: xxx-large;
         width: 100%;
         height: 20%;
         text-align:center;
         padding: 2%;
        }
    .detal_compras_de_p1{
            font-size: medium;
            width: 100%;
        }
    }


@media (min-width:1024px){
        
    
        .home_body{
            max-width: 1440px;
        }
    
        .box_img_p1{ 
            margin: 20px 0;
            display: flex;

        }
    
         .box_img_mini_p1 img {
            width: 20%;
            margin-left: 10%;          
            max-width: 40%;
            height: auto;

         } 
         
         .img-principal_p1 img{
            width: 80%;
            max-width: 100%;
            height: auto;


        }
        
        .detail_box .box_img_p1{
            display: flex;
            width: 100%;
        } 
        .cantidad_de_p1{
            font-size:larger;
            padding: 2%;
        }

        .box-content-p1{
            font-size:larger
        }

        .Detail_mediosDePago{
            width: 50%;
        }
        .detal-cantidad_p1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            justify-content: center;
        }
        .detal-compra_todo_p1{
            width: 50%;
        }

        
}

@media (min-width:1024px){
    
    .box-content-p1{
        font-size:xx-large
    }
    
    .detal_botones_p1{
        width: 100%;
    }

    .estrellas_p1{
        font-size:x-large
    }

    .descripcion_p1{
        padding: 2%;
    }
}
@media (min-width:2560px){
    
    .box-content-p1{
        font-size:xxx-large
    }
    
    .detal_botones_p1{
        width: 100%;
    }
    .detal_botones_p1{
        font-size:xx-large   
    }
    .detal-cantidad_p1{
        font-size:xx-large 
    }

    .estrellas_p1{
        padding: 2%;
        font-size:xxx-large
    }

    .descripcion_p1{
        padding: 2%;
        font-size:xx-large
    }
}
