<header class="home__header">
    <nav>
        <div class="burguer">
            <i class="fa-solid fa-bars"></i>
        </div>
       
        <div class="logo">
            <a href="/"><img src="/images/LOGO-GT-trasparente.png" alt=""></a>
            <h1 class="home__titulo">GlobalTecno</h1>
        </div>

        <div class="buscador">
            <input type="text" placeholder="Buscar productos,marcas" required>
            <button class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        
        <div class="login">
            <button class="home__login"><a  href="/users/login">ingresa</a></button>
            <button class="home__register"><a href="/users/register">Registrate</a></button>
        </div>

        <div class="iconos">
            <i class="fa-solid fa-user"></i>
            <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>

            <i class="signo__peso"><i class="fa-solid fa-dollar-sign"></i></i>
        </div>

        

        <div class="moneda">

            <input type="checkbox" name="peso" id="peso">
            <label for="peso">peso</label>
            <input type="checkbox" name="dolar" id="dolar">
            <label for="dolar">dolar</label>

        </div>
       
    </nav>
    <nav>
        <div class="home__barra__menu">
            <ul>
                <li class="home__menu"><a href=""></a>Telefonia</li>
                <li class="home__menu"><a href=""></a>Electronica</li>
                <li class="home__menu"><a href=""></a>Accesorio</li>
                <li class="home__menu"><a href=""></a>Ayuda</li>
                <li class="home__menu"><a href="/products/carga">Cargar Producto</a></li>
            </ul>
        </div>
    </nav>
</header>
