<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {
    title: 'home'
}) %> 

<body class="home_body">
    <%- include('./partials/header') %> 

    <main class="home__main">
        <div class="carrusel">
            <a href=""><img src="/images/carrusel1.jpg" alt=""></a>
        </div>

        <section>

            <h2>ofertas</h2>
            
            <article class="home__article__producto">
                <div class="home__imagen__producto">
                    <a href="/products/detail/1"><img src="/images/productos/P1/1.jpg" alt=""></a>
                </div>

                <div class="home__productos">
                    <h4>Protector de pantalla</h4>
                    <p class="home__precio">$185,01</p>
                    <p class="home__precio__dolar">USD $1,70</p>
                    <p class="home__descripcion">Papel como película protectora de pantalla, pintura mate PET para iPad
                        2018 9,7
                        Air 2 3 4 10,5 2020 Pro 11 10,2 7th Gen Mini 4 5</p>
                </div>
            </article>

            <article  class="home__article__producto">
                <div class="home__imagen__producto">

                <a href="/products/detail/2"><img src="/images/productos/P2/1.jpg" alt=""></a>
                </div>

                <div>
                    <h4>Bolígrafo Universal para Teléfonos Inteligentes</h4>
                    <p class="home__precio">$650,35</p>
                    <p class="home__precio__dolar">USD $6</p>
                    <p class="home__descripcion">Lápiz Stylus para Dibujo en Pantalla Táctil,
                        Sistemas Android e iOS, Lenovo, Xiaomi, Samsung, Tableta, iPad, iPhone</p>
                </div>

            </article>

            <article class="home__article__producto">
                <div class="home__imagen__producto">
                <a href="/products/detail/3"><img src="/images/productos/P5/1.jpg" alt=""></a>
               </div>

                <div>
                    <h4>Xiaomi Redmi Note 10 Pro</h4>
                    <p class="home__precio">$81.999</p>
                    <p class="home__precio__dolar">USD $728</p>
                    <p class="home__descripcion">El Xiaomi Redmi Note 10 Pro es el smartphone más poderoso de la serie.
                    </p>
                </div>
            </article>

            <article class="home__article__producto">
                <div class="home__imagen__producto">
                <a href="/products/detail/4"><img src="/images/productos/P7/1.jpg" alt=""></a>

                </div>
                <div>
                    <h4>Reloj inteligente Xiaomi</h4>
                    <p class="home__precio">$5.243,08</p>
                    <p class="home__precio__dolar">USD $47</p>
                    <p class="home__descripcion"> pulsera deportiva Original
                        con idioma holandés, soporte japonés, coreano, hebreo, alarma, 2022</p>
                </div>
            </article>

        </section>

        <section>
            <h2>destacados</h2>
            <article class="home__article__producto">
                <div class="home__imagen__producto">

                <a href="/products/detail/1"><img src="/images/productos/p9/aspiradora ¡Robot.jpg" alt=""></a>

            </div>
                <div>
                    <h4>Aspiradora iRobot</h4>
                    <p class="home__precio">$207.000,00</p>
                    <p class="home__precio__dolar">USD $1.838</p>
                    <p class="home__descripcion">Se desplaza de forma lógica y en línea recta
                        Su navegación inteligente en línea recta utiliza sensores de seguimiento para limpiar tus suelos
                        de forma sistemática</p>
                </div>
            </article>

            <article class="home__article__producto">
                <div class="home__imagen__producto">

                <a href="/products/detail/2"><img src="/images/productos/p10/echo_4ta_generacion.jpg" alt=""></a>
               </div>
                <div>
                    <h4>Echo dot (4ta Generación)</h4>
                    <p class="home__precio">$14.390</p>
                    <p class="home__precio__dolar">USD $128</p>
                    <p class="home__descripcion"> Un dispositivo completo. Echo combina sonido de alta calidad, un hub
                        de smart home Zigbee incorporado, y un sensor de temperatura.</p>
                </div>
            </article>

            <article class="home__article__producto">
                <div class="home__imagen__producto">
                    <a href="/products/detail/3"><img src="/images/productos/p11/impresora_1203_800_250x250.jpg" alt=""></a>
                </div>

                <div>
                    <h4> IMPRESORA 3D CREALITY ENDER 3 S1</h4>
                    <p class="home__precio">$74249</p>
                    <p class="home__precio__dolar">USD $660</p>
                    <p class="home__descripcion">Comparado con otros extrusores directos, el “Sprite” es más ligero y
                        posee menos inercia y posicionamiento más preciso.</p>
                </div>
            </article>


        </section>

    </main>

    <%- include('./partials/footer') %> 
</body>

</html>