<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head',{
        title : 'registro'
    }) %>

<body class="home_body">
    <%- include('./partials/header') %>
    <main>
        <section class="register__contenedor">
            <h1 class="titulo">Registrate</h1>
            <div class="boton-link">
                <button id="botonf" type="button" onclick="location.href= 'https:/www.facebook.com'">Entrar con Facebook</button>
            </div>   
                <div class="boton-link">
                    <button id="botong" type="button" onclick="location.href= 'https:/www.Google.com'">Continuar con Google</button>
                </div>
            <span id="register-texto1">O registrate con tu E-mail</span>
        <form action="">
               <div class="register__form-box">
               <input class="register__form-input" type="text" name="nombre" placeholder="Nombre">
                </div>
                <div class="register__form-box">
                    <input class="register__form-input" type="text" name="apellido" placeholder="Apellido">
                </div>
                <div class="register__form-box">
                    <input class="register__form-input" type="email" name="email" placeholder="E-mail">
                </div>
                <div class="register__form-box">
                    <input class="register__form-input" type="password" name="password" placeholder="Contraseña">
                </div>
                <span id="register-texto2">(?)La contraseña debe tener al menos 6 caracteres</span>

            <div class="boton-link">
                <button id="botonr" type="submit" title="registrate" name="registrate">Registrate</button>
            </div>  

                <p class="register-texto">¿Ya tenes cuenta?Inicia sesion <a href="/users/login">aca</a> </p>
  </form>
        </section>



    </main>

    <%- include('./partials/footer') %> 

</body>

</html>